{% extends "base.html" %}
{% load static %}

{% block page_title %}Payment Failed{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static "donation/payment-failed.css" %}">
{% endblock css %}

{% block content %}
<div class="con">
  <div id="payment-failed-con" class="container-md text-center text-bg-light p-4 rounded-5">
    <h1>Payment Failed</h1>
    <a class="btn btn-outline-primary btn-lg mt-4 px-4" href="{% url "home" %}">Return Home</a>
  </div>
</div>
{% endblock content %}