{% extends "base.html" %}
{% load static %}

{% block page_title %}Payment Successful{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static "donation/payment-successful.css" %}">
{% endblock css %}

{% block content %}
<div class="con">
  <div id="payment-success-con" class="container-md text-center text-bg-light mt-5 p-4 rounded-4">
    <h1>Thank you for for your help.</h1>
    <p>Your donation will be put into good use.</p>
    <a class="btn btn-outline-primary text-uppercase px-4 mt-4 fw-semibold" href="{% url "home" %}">Return Home</a>
  </div>
</div>
{% endblock content %}